.App {
  background-color: blanchedalmond;
  min-height: 100vh;
}


.Navbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
}

.link {
  font-size: 32px;
  text-decoration: none;
  color: black;
}