.App {
  background-color: blanchedalmond;
  min-height: 100vh;
}


.Navbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(245, 201, 136);
  border: 1px solid gray;
}

.link {
  font-size: 32px;
  text-decoration: none;
  color: black;
}

.Discretion {
  /* border: 2px solid red; */
  padding: 0px 25%;
  color: gray
}

.staff {
  border: 2px solid red;
  background-color: beige;
}

.staffrow {
  background-color: rgb(252, 224, 177);
}